<div class="example">
  <h3 class="heading">Drag and drop with options</h3>
  <h4> Copy items </h4>
  <div class="example-content">
    {{#ember-dragula class="example-content" options=(hash copy=true) on-drop=(action 'onDrop') on-drag=(action 'onDrag') as |d|}}
      {{#d.container class="list" id="list-copy-1" }}
        {{#each list as |item index|}}
            <div class="item" id="list-copy-1-item-{{index}}">{{item.name}}</div>
        {{/each}}
      {{/d.container}}

      {{#d.container class="list" id="list-copy-2" }}
        {{#each listTwo as |item  index|}}
            <div class="item" id="list-copy-2-item-{{index}}">{{item.name}}</div>
        {{/each}}
      {{/d.container}}
    {{/ember-dragula}}
  </div>

  <h4> Move disabled </h4>
  <div class="example-content">
    {{#ember-dragula class="example-content" options=(hash moves=moves) on-drop=(action 'onDrop') on-drag=(action 'onDrag') as |d|}}
      {{#d.container class="list" id="list-moves-1" }}
        {{#each list as |item index|}}
            <div class="item" id="list-moves-1-item-{{index}}">{{item.name}}</div>
        {{/each}}
      {{/d.container}}

      {{#d.container class="list" id="list-moves-2"}}
        {{#each listTwo as |item  index|}}
            <div class="item" id="list-moves-2-item-{{index}}">{{item.name}}</div>
        {{/each}}
      {{/d.container}}
    {{/ember-dragula}}
  </div>
</div>
