<h2>
  Drag and drop with options
</h2>

<h3>
  Copy items
</h3>

<Dragula
  @options={{hash copy=true}}
  @onDrop={{this.dropped}}
  @onDrag={{this.dragged}}
  as |d|
>
  <d.Container class="list list-copy-1">
    {{#each this.listOne as |item|}}
      <div class="item">
        {{item.name}}
      </div>
    {{/each}}
  </d.Container>

  <d.Container class="list list-copy-2">
    {{#each this.listTwo as |item|}}
      <div class="item">
        {{item.name}}
      </div>
    {{/each}}
  </d.Container>
</Dragula>

<h3>
  Move disabled
</h3>

<Dragula
  @options={{hash moves=this.moves}}
  @onDrop={{this.dropped}}
  @onDrag={{this.dragged}}
  as |d|
>
  <d.Container class="list list-moves-1">
    {{#each this.listOne as |item|}}
      <div class="item">
        {{item.name}}
      </div>
    {{/each}}
  </d.Container>

  <d.Container class="list list-moves-2">
    {{#each this.listTwo as |item|}}
      <div class="item">
        {{item.name}}
      </div>
    {{/each}}
  </d.Container>
</Dragula>