{{#ember-dragula options=(hash copy=true) dropEndAction='onDrop' dragAction='onDrag' as |d|}}
  {{#d.container class="list" id="list-copy-1" }}
    {{#each list as |item index|}}
        <div id="list-copy-1-item-{{index}}">{{item.name}}</div>
    {{/each}}
  {{/d.container}}

  {{#d.container class="list" id="list-copy-2" }}
    {{#each listTwo as |item  index|}}
        <div id="list-copy-2-item-{{index}}">{{item.name}}</div>
    {{/each}}
  {{/d.container}}
{{/ember-dragula}}

{{#ember-dragula options=(hash moves=moves) dropEndAction='onDrop' dragAction='onDrag' as |d|}}
  {{#d.container class="list" id="list-moves-1" }}
    {{#each list as |item index|}}
        <div id="list-moves-1-item-{{index}}">{{item.name}}</div>
    {{/each}}
  {{/d.container}}

  {{#d.container class="list" id="list-moves-2"}}
    {{#each listTwo as |item  index|}}
        <div id="list-moves-2-item-{{index}}">{{item.name}}</div>
    {{/each}}
  {{/d.container}}
{{/ember-dragula}}
