<h4> Copy items </h4>
{{#ember-dragula options=(hash copy=true) drop='onDrop' drag='onDrag' as |d|}}
  {{#d.container class="list" id="list-copy-1" }}
    {{#each list as |item index|}}
        <div class="item" id="list-copy-1-item-{{index}}">{{item.name}}</div>
    {{/each}}
  {{/d.container}}

  {{#d.container class="list" id="list-copy-2" }}
    {{#each listTwo as |item  index|}}
        <div class="item" id="list-copy-2-item-{{index}}">{{item.name}}</div>
    {{/each}}
  {{/d.container}}
{{/ember-dragula}}

<h4> Move disabled </h4>
{{#ember-dragula options=(hash moves=moves) drop='onDrop' drag='onDrag' as |d|}}
  {{#d.container class="list" id="list-moves-1" }}
    {{#each list as |item index|}}
        <div class="item" id="list-moves-1-item-{{index}}">{{item.name}}</div>
    {{/each}}
  {{/d.container}}

  {{#d.container class="list" id="list-moves-2"}}
    {{#each listTwo as |item  index|}}
        <div class="item" id="list-moves-2-item-{{index}}">{{item.name}}</div>
    {{/each}}
  {{/d.container}}
{{/ember-dragula}}
